:root {
  --form-container-width: clamp(250px, 90%, 700px);
  --primary-color: red;
  --background-color-hover: red;
  --background-color-selected: rgba(252, 0, 0, 0.536);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
