:root {
  --form-container-width: clamp(250px, 90%, 700px);
  --primary-color: red;
  --button-bg-color-hover: red;
  --background-color-selected: rgba(252, 0, 0, 0.536);
  --topbar-bg-color: white;
  --transparent: rgba(255, 255, 255, 0);
  --primary: #a70000;
  --primary-dark: #2fff00;
  --main-bg-color-dark: #6b6b6b;
  --font-color-dark: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
