.mainContainer {
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: var(--form-container-width);
  align-items: center;
  border-radius: 10px;
  position: absolute;
  top: 10vh;
  left: calc(50vw - var(--form-container-width) / 2);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  display: flex;
}

.inputContainer .innerContainer {
  width: clamp(120px, 100%, 550px);
  display: flex;
  flex-direction: column;
}

.inputContainer .inputElement {
  margin: 4px;
  padding: 0px;
}
