.nav {
  height: 100%;
  color: black;
  width: 240px;
  background-color: #9b9b9b;
  border-right: 1px solid #eaeaea;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav li {
  font-size: 1.5rem;
}

.menuItem {
  width: 100%;
}

.menuItemSelected {
  background-color: var(--background-color-selected);
}
.nav a {
  text-decoration: none;
}

.nav a:hover {
  background-color: var(--background-color-hover);
}
