.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.datagridContainer {
  margin: 20px 0 0 0;
  max-height: 90%;
}
