.containerLight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--secondary-light-lightTheme);
}

.containerDark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--secondary-light-darkTheme);
}

.button:hover {
  background-color: var(--transparent);
}
